
$carousel-control-opacity: 1;
$gray-900: #1A1A1A;
$gray-200: #D0D0CE;
$gray-100: #E5E5E5;
$gray-600: #63666A;
$gray-700: #4A4A4A;
$gray-800: #333333;
$gray-500: #808080;
$gray-400: #999999;
$gray-300: #B2B2B2;
$red: #ED1C24;
$pink: #F2D4D7;
$primary: #951829;
$secondary: #641A2B;
$dark: $gray-600;
$body-bg: #FFFEFD;
$spacer: 1.5rem;
$link-decoration: underline;
$link-hover-color: $red;
$font-family-sans-serif: source-sans-pro, sans-serif;
$font-size-base: 1.1rem;
$jumbotron-bg: $gray-400;
$headings-font-family: freight-big-pro, serif;
$headings-font-weight: 700;
$carousel-control-icon-width: 30px;
$line-height-base: 1.45;
$orange: #C6AA76;
$white: rgb(255, 255, 254);
$navbar-dark-color: rgba($white, 1);
$black: rgb(0, 0, 1);
$navbar-dark-hover-color: rgba($black, 1);
$navbar-light-color: rgba($black, 1);
$navbar-light-hover-color: rgba($white, 1);
$navbar-light-active-color: rgba($black, 1);
$carousel-control-color: $primary;
$carousel-control-hover-opacity: .7;
$carousel-caption-width: 100;
$text-muted: $gray-400;